{% extends "base.html" %}

{% load static %}

{% block content %}

   <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>FooTable with row toggler, sorting and pagination</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny">
                                <thead>

                                <tr>

                                    <th data-toggle="true">ID</th>
                                    <th>FULLNAME</th>
                                    <th>Phone</th>
                                    <th data-hide="all">MANAGER</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if receiver_list %}
                                    {{ receiver.full_name}}
                                    {% for receiver in receiver_list %}
                                    <tr>
                                        <td><a href="{{ receiver.get_absolute_url }}">{{ receiver.id}}</a></td>
                                        <td>{{ receiver.fullname}}</td>
                                        <td>{{ receiver.mobile_number}}</td>
                                        <td>{{ receiver.manager.username}}</td>

                                    {% endfor %}

                                {% endif %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>


{% endblock %}